:root{

    --bg: rgb(0,10,28);
    --font: #ffffff;
}

html, body {

    margin: 0;
	padding: 0;
	background: var(--bg);
}

.navBar{
    background-image: linear-gradient(var(--bg), rgba(0, 10, 28, 0.9), rgba(0, 10, 28, 0.8), transparent);
    /* background: var(--bg); */

    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 4;

    animation-name: fadeAnimation;
    animation-duration: 3s;
}
.navBar a{
    float: left;
    width: 25%;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    color: rgb(218, 218, 218);
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;

    transition: 450ms;
    -webkit-transition: 450ms;
    -moz-transition: 450ms;
    -o-transition: 450ms;
}
.navBar a.active{
    color: hsl(0, 0%, 100%);
}
.navBar a:hover, .navBar a:focus{
    color: rgb(66, 101, 255);
    transform: scale(1.2);
    text-decoration: none;
    outline: none;
}

header{
    display: grid;
    width: 100%;
    height: 300px;

    grid-template-columns: 15% auto 15% ;
    grid-template-rows: 33.3% 33.3%  auto;
}
.headerTitle{
    font-family: 'Courier New', Courier, monospace;
    font-size: max(4vw , 40px);
    color: white;

    grid-column: 2;
    grid-row: 2;
    
    display: flex;
    align-items: center;

    animation-name: fadeAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-in;

    z-index: 3;
}

header p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    color: white;

    grid-column: 2;
    grid-row: 3;

    animation-name: fadeAnimation;
    animation-duration: 3s;

    z-index: 1;
}

main{
    background-color: transparent;
}


@media screen and (max-width: 650px){
    .navBar{
        overflow: hidden;
        position: fixed;
        height: auto;
        top: auto;
        bottom: 0;
        background-image: linear-gradient(transparent, var(--bg), var(--bg), var(--bg));
    }
}

@keyframes fadeAnimation{
    0%   {opacity: 0;}
    50%  {opacity: 0;}
    100% {opacity: 1;}
}

::-webkit-scrollbar {   width: 10px;  }
::-webkit-scrollbar-track {  background: var(--bg); }
::-webkit-scrollbar-thumb {  background: rgb(0, 22, 65); }
::-webkit-scrollbar-thumb:hover {  background: rgb(2, 32, 94) }
