:root{

    --bg: rgb(0,10,28);
    --font: #ffffff;
    --blue: rgb(66, 101, 255);

    --typeVel: 1s;
    --typeWait: 1.9s;
}

html, body {

    margin: 0;
	padding: 0;
	background: var(--bg);
    scroll-behavior: smooth;
}

.navBar{
    background-image: linear-gradient(var(--bg), rgba(0, 10, 28, 0.9), rgba(0, 10, 28, 0.8), transparent);
    /* background: var(--bg); */

    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 4;

    animation-name: fadeAnimation;
    animation-duration: 5s;
}
.navBar a{
    float: left;
    width: 25%;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    color: rgb(218, 218, 218);
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;

    transition: 450ms;
    -webkit-transition: 450ms;
    -moz-transition: 450ms;
    -o-transition: 450ms;
}
.navBar a.active{
    color: hsl(0, 0%, 100%);
}
.navBar a:hover, .navBar a:focus{
    color: var(--blue);
    transform: scale(1.2);
    text-decoration: none;
    outline: none;
}

header{
    display: grid;
    width: 100%;
    height: 100vh;

    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 33.3% 33.3% 33.3%;

    place-content: center;
}

h1{
    position: relative;

    width: max-content;
    height: max-content;

    grid-column: 2;
    grid-row: 2;

    margin: none;

    font-size: 7.1vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    color: var(--font);
}
h1::before,
h1::after{
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
h1::before{

    background-color: var(--bg);

    animation: typewriter var(--typeVel) var(--typeWait) steps(16) forwards;
}
h1::after{

    background-color: transparent;

    width: 0.05em;

    animation: typewriter var(--typeVel) var(--typeWait) steps(16) forwards,
               typewritercursor 1s cubic-bezier(1,-1.88,0,2.47) /*(1,-0.62,0,1.54)*/ infinite;
}
@keyframes typewriter {
    
    to{
        left: 100%;
    }
}
@keyframes typewritercursor {

    to{

        background-color: var(--font);
    }
}

#arrowContaner{
    grid-column: 2;
    grid-row: 3;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 2;
}
#arrow{
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 23px solid var(--font);

    animation-name: fadeAnimation;
    animation-duration: 5s;

    transition: 250ms;
}
#arrow:hover, #arrow:focus{

	border-top: 23px solid var(--blue);
    transform: scale(1.2);
    outline: none;
}

main{
    display: grid;
    width: 100%;
    grid-template-columns: 15% auto 15%;

    z-index: 2;
}
main p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    color: var(--font);

    grid-column: 2;

    animation: fadeAnimation 5s ease-in-out;

    z-index: 2;
}
.mainTitle{
    font-family: 'Courier New', Courier, monospace;
    font-size: max(3.75vw , 30px);
    color: var(--font);

    grid-column: 2;
    
    padding-top: 15px;

    margin-bottom: 15px;

    animation: fadeAnimation 5s ease-in-out;

    z-index: 2;
}
main a{
    text-decoration: none;
    color: var(--font);
    transition: 250ms;
}
main a:hover, a:focus{
    color: var(--blue);

    text-decoration: underline;

    outline: none;
}

footer{
    display: flex;
    margin-top: 150px;
    padding: 25px 0;
    justify-content: center;

    z-index: 2;
}

@media screen and (max-width: 650px){
    .navBar{
        overflow: hidden;
        position: fixed;
        height: auto;
        top: auto;
        bottom: 0;
        background-image: linear-gradient(transparent, var(--bg), var(--bg), var(--bg));
    }
}

@keyframes fadeAnimation{
    0%   {opacity: 0;}
    90%  {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOutAnimation{
    0%   {opacity: 1;}
    95%  {opacity: 1;}
    100% {opacity: 0;}
}

::-webkit-scrollbar {   width: 10px;  }
::-webkit-scrollbar-track {  background: var(--bg); }
::-webkit-scrollbar-thumb {  background: rgb(0, 22, 65); }
::-webkit-scrollbar-thumb:hover {  background: rgb(2, 32, 94) }
